{{#extends "base"}}
{{#block "content"}}

<h4> Post a new thread </h4>
<form method="POST">
    <div class="mb-2">
        <label>Thread Title</label>
        <input type="text" class="form-control"  name="title"/>
    </div>
    <div class="mb-3">
        <label>Subtitle</label>
        <input type="text" class="form-control" name="subTitle"/>
    </div>
    <div class="mb-3 d-flex" style="flex-direction:column;">
        <label>Thread body</label>
        <input name="threadInitialContent" class="form-control" style="height:400px;"/>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Post thread</button>
    </div>
</form>

{{/block}}
{{/extends}}